@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300;1,400&family=Nanum+Gothic:wght@700&family=Open+Sans&family=Outfit:wght@100;200;300&family=Poppins:wght@300;400&family=Roboto:wght@300&family=Tajawal:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  
}
@media (max-width:425px) {
  .text {
    width: 13rem;
    font-size: 10px;
  }

  .spacing {
    justify-content: center;
    align-items: center;

    gap: 0.25rem;
    font-size: 2px
  }

  .add {
    width: 80%;
    font-size: 5px;
    margin-left: 2rem;
  }


}

@media (max-width:375px) {
  .text {
    width: 13rem;
    font-size: 10px;
  }

  .spacing {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 2px
  }

  .add {
    width: 80%;
    font-size: 5px;
    margin-left: 2rem;
  }


}


@media (max-width:320px) {
  .text {
    width: 13rem;
    font-size: 10px;
  }
/* .card{
  justify-content: center;
  align-items: center;
  display: flex;
} */

  .spacing {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 2px
  }

  .add {
    width: 80%;
    font-size: 5px;
    margin-left: 2rem;
  }


}