@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300;1,400&family=Nanum+Gothic:wght@700&family=Open+Sans&family=Outfit:wght@100;200;300&family=Poppins:wght@300;400&family=Roboto:wght@300&family=Tajawal:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  
}
.cart_container{
    width: 100%;
    height: 100vh;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

.cart_body{
    width: 50vw;
    height:60vh;
    border: 2px solid blue;
    margin-top: 1rem;
}
.cart_items{
    display: flex;
    justify-content: space-around;
    
}