.home_container {
    width: 100%;
    height: auto;
   
}

 .banner-image {
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width:425px) {
    .filter{
 display: flex;
 flex-direction: column;
 
    }
    .heading{
  margin-left: 3rem;
  width: 20rem;
    }
    
      }
@media (max-width:375px) {
    .filter{
 display: flex;
 flex-direction: column;
 
    }
    
      }
 

@media (max-width:320px) {
   .filter{
display: flex;
flex-direction: column;

   }
   
     }

