.footer-wrapper{
    width: 100%;
    height: auto;
    background-color: rgb(1, 20, 20);
}
.footer-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.footer-upper{
    margin-top: 1rem;
}
.pra{
    width:40vw;
    letter-spacing: 1px;
    
}
.icons{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    list-style: none;
    color: white;
    font-size: 2rem;
       
   
}
.footer-last{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
padding: 20px;
list-style: none;
color: white;
}
.switch{
    display: flex;
    gap: 1rem;
}